<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Kogera</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>

    <!-- メインページ -->

    <!-- <h1>simple chat</h1> -->
    <!-- <input id="inputText" type="text">
    <input id="sendButton" type="submit"> -->
    <!-- // JoinButton -->
    <input id="joinButton" type="submit">
    <button id="roomJoinButton" type="submit">roomJoinButton</button>
    <button id="test_postButton" type="submit">開始</button>
    <button id="roomResetCardButton" type="submit">リセット</button>
    <ul id="messageList" />
    <div id="gamevalue"></div>



<script>
    // 接続
    var socket = io.connect();
        
        // 個人配信取得処理
        socket.on("client",(data) => {
            // console.log(data);
            switch (data.id) {
                case 'card':
                    $("#gamevalue").append("<div>" + data.value + "</div>");
                    break;
                default:
                    break;
            }
        })

        // グループ配信取得処理
        socket.on("group",(data) => {
            // console.log(data);
            switch (data.id) {
                case 'card':
                    // $("#gamevalue").append("<div>" + data.value + "</div>");s
                    break;
                case 'noCard':
                    $("#gamevalue").append("<div>" + data.value + "</div>");
                    break;
                default:
                    break;
            }
        })


        // JoinButton
        document.getElementById('joinButton').addEventListener('click', () => {
            console.log("Debug JoinButton Push");
            socket.emit('gameStartPost', {value : 'aaa'});
        });
        // Joinの受け取り
        socket.on("mycard", (message) => {
            console.log("comen "+message);
        });



        // RoomJoin
        document.getElementById('roomJoinButton').addEventListener('click', () => {
            console.log("Debug RoomJoinButton Push");
            socket.emit('roomJoin', {roomId : 'room1'});
        });

        // RoomSend
        document.getElementById('roomResetCardButton').addEventListener('click', () => {
            console.log("Debug roomResetCardButton Push");
            socket.emit('roomResetCard', {roomId : 'room1'});
        });

        // test_postButton
        document.getElementById('test_postButton').addEventListener('click', () => {
            console.log("Debug test_postButton Push");
            socket.emit('gamestart', {roomId : 'room1'});
        });
        socket.on("test",(message) => {
            console.log(message);
        })
        




        // startの受け取り
        socket.on("mycard", (message) => {
            console.log("comen "+message);
        });


    </script>
</body>
</html>